body * {
    box-sizing: border-box;
}
body {
    background: linear-gradient(cornsilk, maroon);
    font-family: Raleway;
    color: black;
}
/* what do I do if I want to specify in reverse? */
@mediaquery screen and (min-width 500px) {
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
}
h1 {
    margin-bottom: 5px;
    margin-top: 10px;
}
h2 {

    margin-bottom: 2px;
}
.logo {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-top: 20px;
}
}
button {
    width: 200px;
    height: 80px;
    font-size: 30px;
    border: 2px solid black;
    background-color: maroon;
    color: black;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
    color: white;
}
h1 {
    font-size: 50px;
    letter-spacing: 2px;
}
/*Intro Screen*/
#introBlurb {
    box-shadow: 6px, 6px, 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pibbleInHat {
    float: right;  
    border-radius: 50%; 
    width: 200px; 
    margin-top: 10px;

}
#startButton {
    display: inline-block;
    margin: auto;
    margin-bottom: 10px;
    
}
/*Questions*/
.mainQuiz {
 border: 2px solid inset maroon;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}
legend{
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}
fieldset {
    border: none;
}
fieldset li {
    box-shadow: 6px 6px 0px;
    list-style: none;
    height: 50px;
    width: 350px;
    margin-bottom: 8px;
}
fieldset li label {
    margin-left: 10px;
    margin-top: 15px;
}
fieldset ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;

}
.questionPic {
     border-radius: 50%;
     display: flex;
     width: 100px;
     height: 100px;
     margin-bottom: 15px;
     
}


/*Answer/Feedback*/
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.answerPic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#nextQ {
 margin-bottom: 20px;
}
.charity {
    border: 2px solid black;
    box-shadow: 6px, 6px, 0px;
    text-align: center;
    font-size; 25px;
}
.charity p {
    margin: 10px;
}
a:link {
    color: white;
}
/*Final Screen*/
.final-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#finalResult {
    font-size: 25px;
    text-shadow: 0px, 5px, 8px, #555;
}

.charityList {
    list-style: none;
    color: white;
    padding-inline-start: 0px;
}
a:hover {
    font-size: 20px;
}
a:visited {
    color: black;
}
.rosette {
    width: 90px;
    height: 100px;
}
/*footer*/
footer {
    color: white;
    text-align: center;
}
